$color-main: #4db2ec;
$second-color: #0099cc;
body .wrapper {
    font-family: "Roboto", sans-serif;
    color: 14px;
    color: #353535;
    font-weight: 400;
}
.wp-inner {
    background: #eff3f6;
}
.block-breadcrumb {
    .breadcrumb {
        background: none;
        margin-bottom: 0px;
        .breadcrumb-item {
            a {
                color: $color-main;
            }
        }
    }
}
.header-detail {
    .detail-inner {
        padding: 10px 16px;
        background-color: #fff;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        margin-bottom: 20px;
        .detail-left {
            margin-top: 10px;
            .logo {
                padding-right: 0px;
                @media (max-width: 575px) {
                    padding-right: 15px;
                }
                .thumb-logo {
                    width: 166px;
                    height: 166px;
                    margin-bottom: 5px;
                    padding: 2px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    border: 1px solid #eee;
                    border-radius: 3px;
                    overflow: hidden;
                    padding: 5px;
                    &:hover {
                        border: 1px solid $second-color;
                        opacity: 0.6;
                    }
                    img {
                        height: 150px;
                        object-fit: contain;
                    }
                    @media (max-width: 575px) {
                        margin: 0 auto 10px;
                    }
                }
            }
            .info-company {
                padding-left: 0px;
                @media (max-width: 575px) {
                    padding-left: 15px;
                }
                .title {
                    margin-bottom: 5px;
                    @media (max-width: 575px) {
                        text-align: center;
                    }
                    a {
                        color: $color-main;
                        display: block;
                        font-size: 20px;
                        font-weight: 500;
                        text-transform: capitalize;
                        text-decoration: none;
                        @media (max-width: 575px) {
                            font-size: 15px;
                        }
                        i {
                            padding-right: 10px;
                        }
                    }
                }
                .star-see {
                    .star {
                        i {
                            color: #ffa500;
                        }
                    }
                    .view {
                        color: #696969;
                        font-size: 15px;
                    }
                }
                .desc {
                    margin-top: 5px;
                    p {
                        font-weight: 500;
                        margin-bottom: 5px;
                        font-size: 15px;
                        color: #353535;
                        i {
                            margin-right: 10px;
                        }

                        .area {
                            color: #ff2d2d;
                        }
                        .post-at {
                            font-weight: 400;
                        }
                        a {
                            color: $color-main;
                        }
                    }
                }
            }
        }
        .sidebar {
            margin-top: 20px;
            button {
                background-color: #ff2d2d;
                color: #fff;
                margin-bottom: 10px;
                &:hover {
                    background-color: #fff;
                    color: #ff2d2d;
                    border: 1px solid #ff2d2d;
                }
                @media (max-width: 575px) {
                    margin-bottom: 10px;
                    height: 40px;
                    line-height: 25px;
                }
                i {
                    padding-right: 5px;
                }
            }
            .info {
                p {
                    font-weight: 500;
                    margin-bottom: 5px;
                    span {
                        font-weight: 400;
                    }
                }
            }
        }
        @media (max-width: 575px) {
            padding: 0 10px;
        }
    }
}
.body-detail {
    .body-detail-inner {
        .nav-item > .nav-link {
            font-size: 18px;

            color: #484848;
        }
        .nav-pill-custom {
            .nav-link.active,
            .nav-pills .show > .nav-link {
                color: $second-color;
                background: none;
                border-bottom: 2px solid #ff2d2d;
                border-radius: 0;
            }
        }
        .body-detail-content {
            padding: 10px 16px;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            margin-bottom: 20px;
            .bl-review {
                .bl-img {
                    border-right: 1px solid #e9e2e2;
                }
                .bl-evaluate {
                    .item-evaluate {
                        margin-bottom: 10px;
                        .title {
                            color: #333;
                            padding-right: 10px;
                            font-size: 15px;
                            font-weight: 500;
                        }
                        .star {
                            color: #ffa500;
                        }
                        .total-evaluate {
                            background: #fedbb9;
                            text-align: center;
                            font-size: 12px;
                            color: #848484;
                            padding: 3px 10px;
                        }
                    }
                }
            }
            .bl-leader {
                blockquote {
                    padding-left: 15px;
                    border-left: 3px solid #eee;
                }
            }
        }
        .bl-comment {
            .submit {
                display: block;
                float: right;
                background-color: $color-main;
                color: #fff;
            }
        }
        .body-detail-sidebar {
            .content-company-info {
                background: #fff;
                border-radius: 3px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
                margin-bottom: 20px;
                padding: 0 10px;
                padding-bottom: 30px;
                .thumb-logo {
                    width: 256px;
                    min-height: 180px;
                    margin-bottom: 5px;
                    margin: auto;
                    text-align: center;
                    padding-top: 40px;
                    padding-bottom: 20px;

                    img {
                        object-fit: content;
                    }
                }
                .name {
                    line-height: 30px;
                    font-size: 17px;
                    text-align: center;
                    color: #22924c;
                    margin-bottom: 10px;
                    @media (max-width: 575px) {
                        margin-bottom: 5px;
                    }
                }
                .address {
                    padding: 4px 0;
                    cursor: pointer;
                    text-align: center;
                    font-size: 15px;
                    margin-bottom: 0px;
                    i {
                        padding-right: 5px;
                        color: #403b3b;
                    }
                    label {
                        padding-right: 5px;
                        font-weight: bold;
                        color: #353535;
                    }
                    span {
                        font-size: 15px;
                    }
                }
                .block-btn {
                    button:first-child {
                        background: #fff;
                        border: 1px solid #bfcbd9;
                        color: #1f2d3d;
                        margin-right: 10px;
                        &:hover {
                            border: 1px solid #22924c;
                            color: #22924c;
                        }
                        i {
                            padding-right: 5px;
                        }
                    }
                }
                .info-more {
                    text-align: center;
                    @media (max-width: 575px) {
                        margin: auto;
                    }
                    .total-job {
                        border: 1px solid $color-main;
                        border-radius: 3px;
                        padding: 0;
                        @media (max-width: 575px) {
                            margin-right: 45px;
                        }
                        .title {
                            margin: auto;
                            padding: 10px 20px;
                            background: $color-main;
                            color: #fff;
                            font-size: 18px;
                        }
                        .number {
                            color: $color-main;
                            font-size: 40px;
                        }
                    }
                    .confirm {
                        padding: 8px;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        padding-top: 15px;
                    }
                }
            }
            .map-company {
                background: #fff;
                border-radius: 3px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
                margin-bottom: 20px;
                padding: 15px;
            }
        }
    }
}

// footer

.block-contact {
    background-image: url("https://vieclambank.com/templates/lulo_temp/img/common/footer/bg_contactbox_overlay.jpg");
    .title {
        text-align: center;

        color: #fff;
        h2 {
            font-size: 39px;
            line-height: 46px;
            text-align: center;
            font-weight: 500;
        }
    }
    ul {
        background: #fff;
        padding: 10px 5px 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        li {
            width: 49%;
            span {
                font-size: 18px;
                display: block;
                background: $color-main;
                color: #fff;
                text-align: center;
                font-weight: 500;
                line-height: 26px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                padding: 3px 0px;
            }
            i {
                font-size: 25px;
                padding-right: 10px;
                color: $color-main;
            }
            a.address {
                font-size: 24px;
                font-weight: 500;
                display: inline-block;
                opacity: 1;
                color: $color-main;
            }
        }
    }
    .btn_mailct {
        display: block;
        height: 87px;
        line-height: 87px;
        font-weight: 500;
        background: #fff;
        text-align: center;
        padding-right: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-decoration: none;
        i {
            font-size: 25px;
            color: #f5121b;
        }
        span {
            font-size: 20px;
            color: #f5121b;
            padding-left: 20px;
            background-size: 37px 25px;
            font-weight: 500;
        }
    }
}
footer {
    margin-top: 30px;
}
.footer {
    background: $color-main;
    color: #fff;
    p.title {
        font-size: 20px;
        font-weight: 500;
        padding-top: 20px;
        text-align: center;
        margin-bottom: 30px;
    }
    .top-logo {
        img {
            width: 220px;
            object-fit: cover;
        }
    }
    .block-info {
        border-right: 1px solid #efefef69;
    }
    .info-item {
        margin: 10px 0px;
        h3 {
            font-size: 18px;
            font-weight: 500;
            padding-left: 13px;
            position: relative;
            text-transform: capitalize;
            line-height: 28px;
            margin-bottom: 4px;
            &:before {
                display: block;
                content: "";
                width: 3px;
                height: 20px;
                background: #fff;
                -webkit-border-radius: 25%;
                -moz-border-radius: 25%;
                border-radius: 25%;
                position: absolute;
                left: 0;
                top: calc(50% - 10px);
            }
        }
        p {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .block-cate {
        border-right: 1px solid #efefef69;
        li {
            a {
                color: #fcfbfb;
                font-size: 16px;
                padding: 5px 0;
                display: block;
                text-decoration: none;
                i {
                    padding-right: 10px;
                }
            }
        }
    }
}
.copyright {
    background: $second-color;
    color: #fff;
    padding: 7px;
    text-align: center;
    p {
        margin-bottom: 0px;
    }
}
