// $color-main: #2866aa;
$color-main: #4db2ec;
$second-color: #0099cc;
body .wrapper {
    font-family: "Roboto", sans-serif;
    color: 14px;
    color: #353535;
    font-weight: 400;
}
.title-main {
    text-align: center;
    font-size: 25px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 25px;
    p {
        margin-bottom: 0px;
        text-transform: capitalize;
    }

    &::after {
        content: "";
        width: 160px;
        height: 5px;
        background-color: $color-main;
        display: inline-block;
        margin: 0 auto;
    }
}
.block-title {
    .title-left {
        overflow: hidden;
        font-weight: 700;
        font-size: 25px;
        border-left: 5px solid $color-main;
        padding: 0 10px;
        line-height: 29px;
        margin-bottom: 15px;
        padding-right: 0;
        position: relative;

        .line {
            background-color: #d7d7d7;
            bottom: 0;
            height: 1px;
            margin-bottom: auto;
            margin-left: 10px;
            margin-top: auto;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}
header {
    padding: 20px 0 0px 0;
    background: #fff;
    box-shadow: 0px 5px 6px -6px rgba(0, 0, 0, 0.42);
    margin-bottom: 30px;
    .header-top {
        .thumb-logo {
            img {
                height: 90px;
                object-fit: contain;
            }
        }
    }

    .nav-custom {
        min-height: 54px;
        padding-bottom: 0;
        margin-top: 10px;
    }
    .navbar-nav > li.nav-item {
        margin-right: 10px;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #000;
        padding: 15px 10px;
        padding-bottom: 8px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 15px;
    }
    .navbar-light .navbar-nav .evaluate {
        a.nav-link {
            border: 1px solid #000;
            border: 1px solid #000;
            padding: 5px 10px;
            margin-top: 10px;
        }
    }

    .navbar-light .navbar-nav .active > .nav-link {
        color: #000;
        padding: 15px 10px;
        padding-bottom: 8px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 15px;
    }
    .navbar-light .navbar-nav .active > a.nav-link {
        border-bottom: 4px solid $second-color;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        color: #000;
        border-bottom: 4px solid $second-color;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("https://image.flaticon.com/icons/svg/1828/1828863.svg");
    }
    .modal-head {
        .modal-content {
            width: 65%;
            margin: auto;
            .modal-header {
                padding-bottom: 0px;
                border-bottom: none;
                .create-account {
                    margin-left: 230px;
                    padding: 2px 10px;
                    margin-bottom: 0px;
                    border: 1px solid #e3e1e1;
                    border-radius: 5px;
                    color: #555050;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
            .modal-body {
                .sub-title {
                    color: #615c5c;
                    font-size: 15px;
                    padding: 0px 5px;
                }
                .form-login {
                    .form-group:last-child {
                        margin-bottom: 10px;
                    }
                }
                .forgot-pass {
                    color: #1267c4;
                    font-size: 14px;
                }
                .btn-login {
                    // background: $color-main;
                }
                .title-login-social {
                    text-align: center;
                    font-size: 15px;
                    margin-top: 5px;
                    color: #333;
                    margin-bottom: 7px;
                }
                .login-face {
                    background: #235a9a;
                    color: #fff;
                    border-radius: 0px;
                }
                .login-google {
                    background: #da4d39;
                    color: #fff;
                    border-radius: 0px;
                }
                .text-footer {
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 0;
                    font-size: 15px;
                    span {
                        color: $color-main;
                    }
                }
            }
        }
    }
}

//========================================================================== style detail
// content
.content {
    a.cate {
        color: #888;
        text-transform: uppercase;
        font-family: sans-serif;
        letter-spacing: 1px;
        font-size: 16px;
        font-weight: 300;
        display: inline-block;
        &:hover {
            cursor: pointer;
            color: $color-main;
        }
    }
    .title {
        font-size: 26px;
        line-height: 33px;
        font-weight: 500;
        color: #000;
        padding: 10px 0 5px 0;
    }
    .date-view {
        color: #aaa;
        font-size: 14px;
        .date {
            padding-right: 10px;
        }
    }
}
//========================================================================== end style detail

//========================================================================== sidebar

.sidebar {
    @media (max-width: 575px) {
        margin-top: 20px;
    }
    .thumb-ads {
        display: block;
        height: 200px;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    .list-post-view {
        margin-top: 30px;
        .title-cate {
            position: relative;
            margin-bottom: 20px;
            a {
                display: inline-block;
                background: #ff2d2d;
                color: #fcfcfc;
                font-size: 14px;
                padding: 5px 15px 3px 15px;
                text-transform: uppercase;
                font-weight: 500;
            }
            .line {
                position: absolute;
                height: 2px;
                background: #ff2d2d;
                width: 100%;
            }
        }
        .item {
            margin-bottom: 15px;
            @media (max-width: 575px) {
                margin-bottom: 10px;
            }
            .bl-image {
                @media (max-width: 575px) {
                    padding-right: 0px;
                }
                a {
                    padding: 3px;
                    border: 1px solid #fff;
                    display: block;
                    @media (max-width: 575px) {
                        height: 70px;
                    }
                    &:hover {
                        border: 1px solid $color-main;
                        opacity: 0.6;
                        padding: 3px;
                    }
                    img {
                        object-fit: cover;
                        @media (max-width: 575px) {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
            .bl-text {
                padding-left: 5px;
                // @media (max-width: 575px) {
                //     padding-left: 0px;
                // }
                a.title {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #000;
                    display: block;
                    padding-top: 5px;
                    &:hover {
                        color: $color-main;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .category {
        margin-top: 30px;
        .title-cate {
            position: relative;
            margin-bottom: 20px;
            a {
                display: inline-block;
                background: #ff2d2d;
                color: #fcfcfc;
                font-size: 14px;
                padding: 5px 15px 3px 15px;
                text-transform: uppercase;
                font-weight: 500;
            }
            .line {
                position: absolute;
                height: 2px;
                background: #ff2d2d;
                width: 100%;
            }
        }
        .list-cate {
            background: #f2f2f2;
            padding-left: 5px;
            .cate-item {
                padding-bottom: 10px;
                padding-top: 10px;
                border-bottom: 1px solid #fff;
                i {
                    color: #999;
                    padding-right: 3px;
                }
                a {
                    color: #333;
                    &:hover {
                        color: $color-main;
                    }
                }
            }
        }
    }
}

//========================================================================== end sidebar

.block-contact {
    background-image: url("https://vieclambank.com/templates/lulo_temp/img/common/footer/bg_contactbox_overlay.jpg");
    .title {
        text-align: center;

        color: #fff;
        h2 {
            font-size: 39px;
            line-height: 46px;
            text-align: center;
            font-weight: 500;
        }
    }
    ul {
        background: #fff;
        padding: 10px 5px 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        li {
            width: 49%;
            span {
                font-size: 18px;
                display: block;
                background: $color-main;
                color: #fff;
                text-align: center;
                font-weight: 500;
                line-height: 26px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                padding: 3px 0px;
            }
            i {
                font-size: 25px;
                padding-right: 10px;
                color: $color-main;
            }
            a.address {
                font-size: 24px;
                font-weight: 500;
                display: inline-block;
                opacity: 1;
                color: $color-main;
            }
        }
    }
    .btn_mailct {
        display: block;
        height: 87px;
        line-height: 87px;
        font-weight: 500;
        background: #fff;
        text-align: center;
        padding-right: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-decoration: none;
        i {
            font-size: 25px;
            color: #f5121b;
        }
        span {
            font-size: 20px;
            color: #f5121b;
            padding-left: 20px;
            background-size: 37px 25px;
            font-weight: 500;
        }
    }
}
footer {
    margin-top: 30px;
}
.footer {
    background: $color-main;
    color: #fff;
    p.title {
        font-size: 20px;
        font-weight: 500;
        padding-top: 20px;
        text-align: center;
        margin-bottom: 30px;
    }
    .top-logo {
        img {
            width: 220px;
            object-fit: cover;
        }
    }
    .block-info {
        border-right: 1px solid #efefef69;
    }
    .info-item {
        margin: 10px 0px;
        h3 {
            font-size: 18px;
            font-weight: 500;
            padding-left: 13px;
            position: relative;
            text-transform: capitalize;
            line-height: 28px;
            margin-bottom: 4px;
            &:before {
                display: block;
                content: "";
                width: 3px;
                height: 20px;
                background: #fff;
                -webkit-border-radius: 25%;
                -moz-border-radius: 25%;
                border-radius: 25%;
                position: absolute;
                left: 0;
                top: calc(50% - 10px);
            }
        }
        p {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .block-cate {
        border-right: 1px solid #efefef69;
        li {
            a {
                color: #fcfbfb;
                font-size: 16px;
                padding: 5px 0;
                display: block;
                text-decoration: none;
                i {
                    padding-right: 10px;
                }
            }
        }
    }
}
.copyright {
    background: $second-color;
    color: #fff;
    padding: 7px;
    text-align: center;
    p {
        margin-bottom: 0px;
    }
}
