body .wrapper {
  font-family: "Roboto", sans-serif;
  color: 14px;
  color: #353535;
  font-weight: 400; }

.wp-inner {
  background: #eff3f6; }

.block-breadcrumb .breadcrumb {
  background: none;
  margin-bottom: 0px; }
  .block-breadcrumb .breadcrumb .breadcrumb-item a {
    color: #4db2ec; }

.header-detail .detail-inner {
  padding: 10px 16px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px; }
  .header-detail .detail-inner .detail-left {
    margin-top: 10px; }
    .header-detail .detail-inner .detail-left .logo {
      padding-right: 0px; }
      @media (max-width: 575px) {
        .header-detail .detail-inner .detail-left .logo {
          padding-right: 15px; } }
      .header-detail .detail-inner .detail-left .logo .thumb-logo {
        width: 166px;
        height: 166px;
        margin-bottom: 5px;
        padding: 2px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border: 1px solid #eee;
        border-radius: 3px;
        overflow: hidden;
        padding: 5px; }
        .header-detail .detail-inner .detail-left .logo .thumb-logo:hover {
          border: 1px solid #0099cc;
          opacity: 0.6; }
        .header-detail .detail-inner .detail-left .logo .thumb-logo img {
          height: 150px;
          object-fit: contain; }
        @media (max-width: 575px) {
          .header-detail .detail-inner .detail-left .logo .thumb-logo {
            margin: 0 auto 10px; } }
    .header-detail .detail-inner .detail-left .info-company {
      padding-left: 0px; }
      @media (max-width: 575px) {
        .header-detail .detail-inner .detail-left .info-company {
          padding-left: 15px; } }
      .header-detail .detail-inner .detail-left .info-company .title {
        margin-bottom: 5px; }
        @media (max-width: 575px) {
          .header-detail .detail-inner .detail-left .info-company .title {
            text-align: center; } }
        .header-detail .detail-inner .detail-left .info-company .title a {
          color: #4db2ec;
          display: block;
          font-size: 20px;
          font-weight: 500;
          text-transform: capitalize;
          text-decoration: none; }
          @media (max-width: 575px) {
            .header-detail .detail-inner .detail-left .info-company .title a {
              font-size: 15px; } }
          .header-detail .detail-inner .detail-left .info-company .title a i {
            padding-right: 10px; }
      .header-detail .detail-inner .detail-left .info-company .star-see .star i {
        color: #ffa500; }
      .header-detail .detail-inner .detail-left .info-company .star-see .view {
        color: #696969;
        font-size: 15px; }
      .header-detail .detail-inner .detail-left .info-company .desc {
        margin-top: 5px; }
        .header-detail .detail-inner .detail-left .info-company .desc p {
          font-weight: 500;
          margin-bottom: 5px;
          font-size: 15px;
          color: #353535; }
          .header-detail .detail-inner .detail-left .info-company .desc p i {
            margin-right: 10px; }
          .header-detail .detail-inner .detail-left .info-company .desc p .area {
            color: #ff2d2d; }
          .header-detail .detail-inner .detail-left .info-company .desc p .post-at {
            font-weight: 400; }
          .header-detail .detail-inner .detail-left .info-company .desc p a {
            color: #4db2ec; }
  .header-detail .detail-inner .sidebar {
    margin-top: 20px; }
    .header-detail .detail-inner .sidebar button {
      background-color: #ff2d2d;
      color: #fff;
      margin-bottom: 10px; }
      .header-detail .detail-inner .sidebar button:hover {
        background-color: #fff;
        color: #ff2d2d;
        border: 1px solid #ff2d2d; }
      @media (max-width: 575px) {
        .header-detail .detail-inner .sidebar button {
          margin-bottom: 10px;
          height: 40px;
          line-height: 25px; } }
      .header-detail .detail-inner .sidebar button i {
        padding-right: 5px; }
    .header-detail .detail-inner .sidebar .info p {
      font-weight: 500;
      margin-bottom: 5px; }
      .header-detail .detail-inner .sidebar .info p span {
        font-weight: 400; }
  @media (max-width: 575px) {
    .header-detail .detail-inner {
      padding: 0 10px; } }

.body-detail .body-detail-inner .nav-item > .nav-link {
  font-size: 18px;
  color: #484848; }
.body-detail .body-detail-inner .nav-pill-custom .nav-link.active,
.body-detail .body-detail-inner .nav-pill-custom .nav-pills .show > .nav-link {
  color: #0099cc;
  background: none;
  border-bottom: 2px solid #ff2d2d;
  border-radius: 0; }
.body-detail .body-detail-inner .body-detail-content {
  padding: 10px 16px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px; }
  .body-detail .body-detail-inner .body-detail-content .bl-review .bl-img {
    border-right: 1px solid #e9e2e2; }
  .body-detail .body-detail-inner .body-detail-content .bl-review .bl-evaluate .item-evaluate {
    margin-bottom: 10px; }
    .body-detail .body-detail-inner .body-detail-content .bl-review .bl-evaluate .item-evaluate .title {
      color: #333;
      padding-right: 10px;
      font-size: 15px;
      font-weight: 500; }
    .body-detail .body-detail-inner .body-detail-content .bl-review .bl-evaluate .item-evaluate .star {
      color: #ffa500; }
    .body-detail .body-detail-inner .body-detail-content .bl-review .bl-evaluate .item-evaluate .total-evaluate {
      background: #fedbb9;
      text-align: center;
      font-size: 12px;
      color: #848484;
      padding: 3px 10px; }
  .body-detail .body-detail-inner .body-detail-content .bl-leader blockquote {
    padding-left: 15px;
    border-left: 3px solid #eee; }
.body-detail .body-detail-inner .bl-comment .submit {
  display: block;
  float: right;
  background-color: #4db2ec;
  color: #fff; }
.body-detail .body-detail-inner .body-detail-sidebar .content-company-info {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  padding: 0 10px;
  padding-bottom: 30px; }
  .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .thumb-logo {
    width: 256px;
    min-height: 180px;
    margin-bottom: 5px;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px; }
    .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .thumb-logo img {
      object-fit: content; }
  .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .name {
    line-height: 30px;
    font-size: 17px;
    text-align: center;
    color: #22924c;
    margin-bottom: 10px; }
    @media (max-width: 575px) {
      .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .name {
        margin-bottom: 5px; } }
  .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .address {
    padding: 4px 0;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    margin-bottom: 0px; }
    .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .address i {
      padding-right: 5px;
      color: #403b3b; }
    .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .address label {
      padding-right: 5px;
      font-weight: bold;
      color: #353535; }
    .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .address span {
      font-size: 15px; }
  .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .block-btn button:first-child {
    background: #fff;
    border: 1px solid #bfcbd9;
    color: #1f2d3d;
    margin-right: 10px; }
    .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .block-btn button:first-child:hover {
      border: 1px solid #22924c;
      color: #22924c; }
    .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .block-btn button:first-child i {
      padding-right: 5px; }
  .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .info-more {
    text-align: center; }
    @media (max-width: 575px) {
      .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .info-more {
        margin: auto; } }
    .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .info-more .total-job {
      border: 1px solid #4db2ec;
      border-radius: 3px;
      padding: 0; }
      @media (max-width: 575px) {
        .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .info-more .total-job {
          margin-right: 45px; } }
      .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .info-more .total-job .title {
        margin: auto;
        padding: 10px 20px;
        background: #4db2ec;
        color: #fff;
        font-size: 18px; }
      .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .info-more .total-job .number {
        color: #4db2ec;
        font-size: 40px; }
    .body-detail .body-detail-inner .body-detail-sidebar .content-company-info .info-more .confirm {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 3px;
      padding-top: 15px; }
.body-detail .body-detail-inner .body-detail-sidebar .map-company {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  padding: 15px; }

.block-contact {
  background-image: url("https://vieclambank.com/templates/lulo_temp/img/common/footer/bg_contactbox_overlay.jpg"); }
  .block-contact .title {
    text-align: center;
    color: #fff; }
    .block-contact .title h2 {
      font-size: 39px;
      line-height: 46px;
      text-align: center;
      font-weight: 500; }
  .block-contact ul {
    background: #fff;
    padding: 10px 5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .block-contact ul li {
      width: 49%; }
      .block-contact ul li span {
        font-size: 18px;
        display: block;
        background: #4db2ec;
        color: #fff;
        text-align: center;
        font-weight: 500;
        line-height: 26px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 3px 0px; }
      .block-contact ul li i {
        font-size: 25px;
        padding-right: 10px;
        color: #4db2ec; }
      .block-contact ul li a.address {
        font-size: 24px;
        font-weight: 500;
        display: inline-block;
        opacity: 1;
        color: #4db2ec; }
  .block-contact .btn_mailct {
    display: block;
    height: 87px;
    line-height: 87px;
    font-weight: 500;
    background: #fff;
    text-align: center;
    padding-right: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none; }
    .block-contact .btn_mailct i {
      font-size: 25px;
      color: #f5121b; }
    .block-contact .btn_mailct span {
      font-size: 20px;
      color: #f5121b;
      padding-left: 20px;
      background-size: 37px 25px;
      font-weight: 500; }

footer {
  margin-top: 30px; }

.footer {
  background: #4db2ec;
  color: #fff; }
  .footer p.title {
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 30px; }
  .footer .top-logo img {
    width: 220px;
    object-fit: cover; }
  .footer .block-info {
    border-right: 1px solid #efefef69; }
  .footer .info-item {
    margin: 10px 0px; }
    .footer .info-item h3 {
      font-size: 18px;
      font-weight: 500;
      padding-left: 13px;
      position: relative;
      text-transform: capitalize;
      line-height: 28px;
      margin-bottom: 4px; }
      .footer .info-item h3:before {
        display: block;
        content: "";
        width: 3px;
        height: 20px;
        background: #fff;
        -webkit-border-radius: 25%;
        -moz-border-radius: 25%;
        border-radius: 25%;
        position: absolute;
        left: 0;
        top: calc(50% - 10px); }
    .footer .info-item p {
      font-size: 14px;
      line-height: 18px; }
  .footer .block-cate {
    border-right: 1px solid #efefef69; }
    .footer .block-cate li a {
      color: #fcfbfb;
      font-size: 16px;
      padding: 5px 0;
      display: block;
      text-decoration: none; }
      .footer .block-cate li a i {
        padding-right: 10px; }

.copyright {
  background: #0099cc;
  color: #fff;
  padding: 7px;
  text-align: center; }
  .copyright p {
    margin-bottom: 0px; }

/*# sourceMappingURL=detail-company.css.map */
