body .wrapper {
  font-family: "Roboto", sans-serif;
  color: 14px;
  color: #353535;
  font-weight: 400; }

.title-main {
  text-align: center;
  font-size: 25px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 25px; }
  .title-main p {
    margin-bottom: 0px;
    text-transform: capitalize; }
  .title-main::after {
    content: "";
    width: 160px;
    height: 5px;
    background-color: #4db2ec;
    display: inline-block;
    margin: 0 auto; }

.block-title .title-left {
  overflow: hidden;
  font-weight: 700;
  font-size: 25px;
  border-left: 5px solid #4db2ec;
  padding: 0 10px;
  line-height: 29px;
  margin-bottom: 15px;
  padding-right: 0;
  position: relative; }
  .block-title .title-left .line {
    background-color: #d7d7d7;
    bottom: 0;
    height: 1px;
    margin-bottom: auto;
    margin-left: 10px;
    margin-top: auto;
    position: absolute;
    top: 0;
    width: 100%; }

header {
  padding: 20px 0 0px 0;
  background: #fff;
  box-shadow: 0px 5px 6px -6px rgba(0, 0, 0, 0.42); }
  header .header-top .thumb-logo img {
    height: 90px;
    object-fit: contain; }
  header .nav-custom {
    min-height: 54px;
    padding-bottom: 0;
    margin-top: 10px; }
  header .navbar-nav > li.nav-item {
    margin-right: 10px; }
  header .navbar-light .navbar-nav .nav-link {
    color: #000;
    padding: 15px 10px;
    padding-bottom: 8px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px; }
  header .navbar-light .navbar-nav .evaluate a.nav-link {
    border: 1px solid #000;
    border: 1px solid #000;
    padding: 5px 10px;
    margin-top: 10px; }
  header .navbar-light .navbar-nav .active > .nav-link {
    color: #000;
    padding: 15px 10px;
    padding-bottom: 8px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px; }
  header .navbar-light .navbar-nav .active > a.nav-link {
    border-bottom: 4px solid #0099cc; }
  header .navbar-light .navbar-nav .nav-link:hover {
    color: #000;
    border-bottom: 4px solid #0099cc; }
  header .navbar-light .navbar-toggler-icon {
    background-image: url("https://image.flaticon.com/icons/svg/1828/1828863.svg"); }
  header .modal-head .modal-content {
    width: 65%;
    margin: auto; }
    header .modal-head .modal-content .modal-header {
      padding-bottom: 0px;
      border-bottom: none; }
      header .modal-head .modal-content .modal-header .create-account {
        margin-left: 230px;
        padding: 2px 10px;
        margin-bottom: 0px;
        border: 1px solid #e3e1e1;
        border-radius: 5px;
        color: #555050;
        font-size: 14px;
        cursor: pointer; }
    header .modal-head .modal-content .modal-body .sub-title {
      color: #615c5c;
      font-size: 15px;
      padding: 0px 5px; }
    header .modal-head .modal-content .modal-body .form-login .form-group:last-child {
      margin-bottom: 10px; }
    header .modal-head .modal-content .modal-body .forgot-pass {
      color: #1267c4;
      font-size: 14px; }
    header .modal-head .modal-content .modal-body .title-login-social {
      text-align: center;
      font-size: 15px;
      margin-top: 5px;
      color: #333;
      margin-bottom: 7px; }
    header .modal-head .modal-content .modal-body .login-face {
      background: #235a9a;
      color: #fff;
      border-radius: 0px; }
    header .modal-head .modal-content .modal-body .login-google {
      background: #da4d39;
      color: #fff;
      border-radius: 0px; }
    header .modal-head .modal-content .modal-body .text-footer {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 0;
      font-size: 15px; }
      header .modal-head .modal-content .modal-body .text-footer span {
        color: #4db2ec; }

.wp-inner {
  padding-top: 30px;
  background: #eff0f3; }

.content .tab-content-evaluate {
  background: #fff;
  padding: 20px; }
.content form.form-evaluate-company .title {
  font-size: 15px;
  color: #595757; }

@media (max-width: 575px) {
  .sidebar {
    margin-top: 20px; } }
.sidebar .thumb-ads {
  display: block;
  height: 200px; }
  .sidebar .thumb-ads img {
    object-fit: cover;
    height: 100%;
    width: 100%; }
.sidebar .list-post-view {
  margin-top: 30px; }
  .sidebar .list-post-view .title-cate {
    position: relative;
    margin-bottom: 20px; }
    .sidebar .list-post-view .title-cate a {
      display: inline-block;
      background: #ff2d2d;
      color: #fcfcfc;
      font-size: 14px;
      padding: 5px 15px 3px 15px;
      text-transform: uppercase;
      font-weight: 500; }
    .sidebar .list-post-view .title-cate .line {
      position: absolute;
      height: 2px;
      background: #ff2d2d;
      width: 100%; }
  .sidebar .list-post-view .item {
    margin-bottom: 15px; }
    @media (max-width: 575px) {
      .sidebar .list-post-view .item {
        margin-bottom: 10px; } }
    @media (max-width: 575px) {
      .sidebar .list-post-view .item .bl-image {
        padding-right: 0px; } }
    .sidebar .list-post-view .item .bl-image a {
      padding: 3px;
      border: 1px solid #fff;
      display: block; }
      @media (max-width: 575px) {
        .sidebar .list-post-view .item .bl-image a {
          height: 70px; } }
      .sidebar .list-post-view .item .bl-image a:hover {
        border: 1px solid #4db2ec;
        opacity: 0.6;
        padding: 3px; }
      .sidebar .list-post-view .item .bl-image a img {
        object-fit: cover; }
        @media (max-width: 575px) {
          .sidebar .list-post-view .item .bl-image a img {
            height: 100%;
            width: 100%; } }
    .sidebar .list-post-view .item .bl-text {
      padding-left: 5px; }
      .sidebar .list-post-view .item .bl-text a.title {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #000;
        display: block;
        padding-top: 5px; }
        .sidebar .list-post-view .item .bl-text a.title:hover {
          color: #4db2ec;
          cursor: pointer; }
.sidebar .category {
  margin-top: 30px; }
  .sidebar .category .title-cate {
    position: relative;
    margin-bottom: 20px; }
    .sidebar .category .title-cate a {
      display: inline-block;
      background: #ff2d2d;
      color: #fcfcfc;
      font-size: 14px;
      padding: 5px 15px 3px 15px;
      text-transform: uppercase;
      font-weight: 500; }
    .sidebar .category .title-cate .line {
      position: absolute;
      height: 2px;
      background: #ff2d2d;
      width: 100%; }
  .sidebar .category .list-cate {
    background: #f2f2f2;
    padding-left: 5px; }
    .sidebar .category .list-cate .cate-item {
      padding-bottom: 10px;
      padding-top: 10px;
      border-bottom: 1px solid #fff; }
      .sidebar .category .list-cate .cate-item i {
        color: #999;
        padding-right: 3px; }
      .sidebar .category .list-cate .cate-item a {
        color: #333; }
        .sidebar .category .list-cate .cate-item a:hover {
          color: #4db2ec; }

.block-contact {
  background-image: url("https://vieclambank.com/templates/lulo_temp/img/common/footer/bg_contactbox_overlay.jpg"); }
  .block-contact .title {
    text-align: center;
    color: #fff; }
    .block-contact .title h2 {
      font-size: 39px;
      line-height: 46px;
      text-align: center;
      font-weight: 500; }
  .block-contact ul {
    background: #fff;
    padding: 10px 5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .block-contact ul li {
      width: 49%; }
      .block-contact ul li span {
        font-size: 18px;
        display: block;
        background: #4db2ec;
        color: #fff;
        text-align: center;
        font-weight: 500;
        line-height: 26px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 3px 0px; }
      .block-contact ul li i {
        font-size: 25px;
        padding-right: 10px;
        color: #4db2ec; }
      .block-contact ul li a.address {
        font-size: 24px;
        font-weight: 500;
        display: inline-block;
        opacity: 1;
        color: #4db2ec; }
  .block-contact .btn_mailct {
    display: block;
    height: 87px;
    line-height: 87px;
    font-weight: 500;
    background: #fff;
    text-align: center;
    padding-right: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none; }
    .block-contact .btn_mailct i {
      font-size: 25px;
      color: #f5121b; }
    .block-contact .btn_mailct span {
      font-size: 20px;
      color: #f5121b;
      padding-left: 20px;
      background-size: 37px 25px;
      font-weight: 500; }

footer {
  margin-top: 30px; }

.footer {
  background: #4db2ec;
  color: #fff; }
  .footer p.title {
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 30px; }
  .footer .top-logo img {
    width: 220px;
    object-fit: cover; }
  .footer .block-info {
    border-right: 1px solid #efefef69; }
  .footer .info-item {
    margin: 10px 0px; }
    .footer .info-item h3 {
      font-size: 18px;
      font-weight: 500;
      padding-left: 13px;
      position: relative;
      text-transform: capitalize;
      line-height: 28px;
      margin-bottom: 4px; }
      .footer .info-item h3:before {
        display: block;
        content: "";
        width: 3px;
        height: 20px;
        background: #fff;
        -webkit-border-radius: 25%;
        -moz-border-radius: 25%;
        border-radius: 25%;
        position: absolute;
        left: 0;
        top: calc(50% - 10px); }
    .footer .info-item p {
      font-size: 14px;
      line-height: 18px; }
  .footer .block-cate {
    border-right: 1px solid #efefef69; }
    .footer .block-cate li a {
      color: #fcfbfb;
      font-size: 16px;
      padding: 5px 0;
      display: block;
      text-decoration: none; }
      .footer .block-cate li a i {
        padding-right: 10px; }

.copyright {
  background: #0099cc;
  color: #fff;
  padding: 7px;
  text-align: center; }
  .copyright p {
    margin-bottom: 0px; }

/*# sourceMappingURL=evaluate.css.map */
