@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .modal-dialog {
    max-width: 70%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}

@media (max-width: 575px) {
  .w-75 {
    width: 100% !important;
  }
  .header-bot .content-header-bot {
    padding-top: 40px;
  }
  .nav-tabs .nav-item {
    width: 115px;
  }
  .nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }
  .header-bot .nav-tabs-header li a i {
    display: none;
  }
  .block-register,
  .block-register .register-inner {
    height: 200px;
  }
  .block-register .register-company {
    margin-top: 30px;
  }
  .block-register .title-register {
    font-size: 19px;
    text-transform: capitalize;
  }
  .block-register .sub-title {
    font-size: 14px;
  }
  .statistical .statistical-item a img {
    width: 85px;
  }
  .statistical .statistical-item .icon-box-text h4 {
    font-size: 21px;
  }
  .statistical .statistical-item .icon-box-text p {
    font-size: 16px;
  }
  .block-contact .title h2 {
    font-size: 30px;
    margin-bottom: 0px;
  }
  .block-contact ul li {
    width: 48%;
  }
  .block-contact ul li i {
    font-size: 13px;
    padding-right: 0px;
  }
  .block-contact ul li a.address {
    font-size: 14px;
  }
  .block-contact .btn_mailct {
    height: 60px;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .modal-dialog {
    max-width: 85% !important;
    margin: auto;
  }
  .item-logo {
    margin-bottom: 15px;
  }
  section.ads-company .list-logo .item-logo p {
    padding-top: 2px;
    line-height: 20px;
  }
  .title-main p {
    font-size: 21px;
    line-height: 25px;
  }
  section.ads-company {
    margin-bottom: 20px;
  }
}
