// $color-main: #2866aa;
$color-main: #33b5e5;
$second-color: #0099cc;
body .wrapper {
    font-family: "Roboto", sans-serif;
    color: 14px;
    color: #353535;
    font-weight: 400;
}
.title-main {
    text-align: center;
    font-size: 25px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 25px;
    p {
        margin-bottom: 0px;
        text-transform: capitalize;
    }

    &::after {
        content: "";
        width: 160px;
        height: 5px;
        background-color: $color-main;
        display: inline-block;
        margin: 0 auto;
    }
}
.block-title {
    .title-left {
        overflow: hidden;
        font-weight: 700;
        font-size: 25px;
        border-left: 5px solid $color-main;
        padding: 0 10px;
        line-height: 29px;
        margin-bottom: 15px;
        padding-right: 0;
        position: relative;

        .line {
            background-color: #d7d7d7;
            bottom: 0;
            height: 1px;
            margin-bottom: auto;
            margin-left: 10px;
            margin-top: auto;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}
header {
    padding: 20px 0 0px 0;
    background: #fff;
    box-shadow: 0px 5px 6px -6px rgba(0,0,0,0.42);
    margin-bottom: 30px;
    .header-top {
        .thumb-logo {
            img {
                height: 90px;
                object-fit: contain;
            }
        }
    }

    .nav-custom {
        min-height: 54px;
        padding-bottom: 0;
        margin-top: 10px;
    }
    .navbar-nav>li.nav-item {
        margin-right: 10px;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #000;
        padding: 15px 10px;
        padding-bottom: 8px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 15px;
    }
    .navbar-light .navbar-nav .evaluate {
        a.nav-link {
            border: 1px solid #000;
            border: 1px solid #000;
            padding: 5px 10px;
            margin-top: 10px;
        }
    }

    .navbar-light .navbar-nav .active > .nav-link {
        color: #000;
        padding: 15px 10px;
        padding-bottom: 8px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 15px;

    }
    .navbar-light .navbar-nav .active > a.nav-link {
        border-bottom: 4px solid $second-color;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        color: #000;
        border-bottom: 4px solid $second-color;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("https://image.flaticon.com/icons/svg/1828/1828863.svg");
    }
    .modal-head {
        .modal-content {
            width: 65%;
            margin: auto;
            .modal-header {
                padding-bottom: 0px;
                border-bottom: none;
                .create-account {
                    margin-left: 230px;
                    padding: 2px 10px;
                    margin-bottom: 0px;
                    border: 1px solid #e3e1e1;
                    border-radius: 5px;
                    color: #555050;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
            .modal-body {
                .sub-title {
                    color: #615c5c;
                    font-size: 15px;
                    padding: 0px 5px;
                }
                .form-login {
                    .form-group:last-child {
                        margin-bottom: 10px;
                    }
                }
                .forgot-pass {
                    color: #1267c4;
                    font-size: 14px;
                }
                .btn-login {
                    // background: $color-main;
                }
                .title-login-social {
                    text-align: center;
                    font-size: 15px;
                    margin-top: 5px;
                    color: #333;
                    margin-bottom: 7px;
                }
                .login-face {
                    background: #235a9a;
                    color: #fff;
                    border-radius: 0px;
                }
                .login-google {
                    background: #da4d39;
                    color: #fff;
                    border-radius: 0px;
                }
                .text-footer {
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 0;
                    font-size: 15px;
                    span {
                        color: $color-main;
                    }
                }
            }
        }
    }
}
// header-bot
.header-bot {
    background-image: url("https://cdn.pixabay.com/photo/2014/05/02/21/49/home-office-336373__340.jpg");
    height: 470px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    .overlay-header-bot {
        background: #33333357;
        height: 470px;
    }
    .title {
        color: #fff;
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .result {
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .content-header-bot {
        padding-top: 100px;
        .search-header {
            background: #fff;
            form {
                height: 105px;
                line-height: 105px;
            }
        }
    }
}

// block-done
.block-done {
    margin-top: 30px;
    .item-done {
        i {
            font-size: 67px;
            margin-top: 15px;
            color: $color-main;
        }
        .block-text {
            p {
                font-size: 15px;
            }
            p:first-child {
                font-size: 20px;
                margin-bottom: 0;
                color: #333;
                font-weight: 500;
            }
        }
    }
}

// block-evaluate
.block-evaluate {
    margin-top: 30px;
    .post {
        .card {
            &:hover {
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            }
        }
        img {
            height: 200px;
            object-fit: cover;
        }
        .card-body {
            .evaluate {
                .star {
                    i {
                        color: #ffa500;
                    }
                }
            }
        }
    }
    .see-more {
        text-align: center;
        margin-bottom: 0px;
        font-size: 15px;
        margin-top: 10px;
        color: #2866aa;
        &:hover {
            text-decoration: underline;
        }
    }
}

// evaluate-career
.evaluate-career {
    margin-top: 30px;
    .career {
        .career-inner {
            padding: 10px;
            border: 1px solid #eee;
            margin-bottom: 10px;
            border-radius: 5px;
            &:hover {
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            }
            i {
                color: #555;
            }
            span {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
}

// blok statistical
.block-statistical {
    margin-top: 30px;
    background-image: url("https://cdn.pixabay.com/photo/2016/03/09/11/48/wild-1246231_960_720.jpg");
    margin-bottom: 40px;
    height: 200px;
    background-origin: content-box;
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    background-repeat: no-repeat;
    .statistical-inner {
        background: #00000061;
        height: 200px;

        .statistical-item {
            color: #fff;
            margin-top: 60px;
            text-align: center;
            p {
                font-size: 18px;
            }
            p:first-child {
                font-size: 40px;
                margin-bottom: 0px;
            }
        }
    }
}

// statistical
.statistical {
    margin-bottom: 20px;
    .statistical-item {
        a {
            display: block;
            text-align: center;
            img {
                width: 100px;
            }
        }
        .icon-box-text {
            margin-top: 10px;
            h4 {
                color: #ec1f27;
            }
            p {
                font-size: 20px;
                font-weight: 500;
                color: #0a0a0a;
                text-transform: capitalize;
            }
        }
    }
}

// blog
.blog {
    margin-top: 30px;
    .post {
        .card {
            &:hover {
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            }
        }
        img {
            height: 200px;
            object-fit: cover;
        }
        .card-body {
            padding: 10px;
            h6 {
                margin-bottom: 5px;
            }
            p {
                color: #746a6a;
                font-size: 15px;
            }
        }
    }
}

.block-contact {
    background-image: url("https://vieclambank.com/templates/lulo_temp/img/common/footer/bg_contactbox_overlay.jpg");
    .title {
        text-align: center;

        color: #fff;
        h2 {
            font-size: 39px;
            line-height: 46px;
            text-align: center;
            font-weight: 500;
        }
    }
    ul {
        background: #fff;
        padding: 10px 5px 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        li {
            width: 49%;
            span {
                font-size: 18px;
                display: block;
                background: $color-main;
                color: #fff;
                text-align: center;
                font-weight: 500;
                line-height: 26px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                padding: 3px 0px;
            }
            i {
                font-size: 25px;
                padding-right: 10px;
                color: $color-main;
            }
            a.address {
                font-size: 24px;
                font-weight: 500;
                display: inline-block;
                opacity: 1;
                color: $color-main;
            }
        }
    }
    .btn_mailct {
        display: block;
        height: 87px;
        line-height: 87px;
        font-weight: 500;
        background: #fff;
        text-align: center;
        padding-right: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-decoration: none;
        i {
            font-size: 25px;
            color: #f5121b;
        }
        span {
            font-size: 20px;
            color: #f5121b;
            padding-left: 20px;
            background-size: 37px 25px;
            font-weight: 500;
        }
    }
}
footer {
    margin-top: 30px;
}
.footer {
    background: $color-main;
    color: #fff;
    p.title {
        font-size: 20px;
        font-weight: 500;
        padding-top: 20px;
        text-align: center;
        margin-bottom: 30px;
    }
    .top-logo {
        img {
            width: 220px;
        }
    }
    .block-info {
        border-right: 1px solid #efefef69;
    }
    .info-item {
        margin: 10px 0px;
        h3 {
            font-size: 18px;
            font-weight: 500;
            padding-left: 13px;
            position: relative;
            text-transform: capitalize;
            line-height: 28px;
            margin-bottom: 4px;
            &:before {
                display: block;
                content: "";
                width: 3px;
                height: 20px;
                background: #fff;
                -webkit-border-radius: 25%;
                -moz-border-radius: 25%;
                border-radius: 25%;
                position: absolute;
                left: 0;
                top: calc(50% - 10px);
            }
        }
        p {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .block-cate {
        border-right: 1px solid #efefef69;
        li {
            a {
                color: #fcfbfb;
                font-size: 16px;
                padding: 5px 0;
                display: block;
                text-decoration: none;
                i {
                    padding-right: 10px;
                }
            }
        }
    }
}
.copyright {
    background: $second-color;
    color: #fff;
    padding: 7px;
    text-align: center;
    p {
        margin-bottom: 0px;
    }
}
